# Ejercicio Regression Tree
Son datos de temperaturas tomados de la ciudad de Seattle. El objetivo es intentar predecir lo mejor posible la máxima temperatura (columna `actual`) que alcanzaremos al día siguiente. Para ello contaremos con temperaturas de los dos días anteriores, históricos de máximas temperaturas y un amigo bastante chapas que te da su predicción del tiempo cada día.

**Resumen de datos**:

* year: 2016 para todos los puntos de datos
* month: número para el mes del año
* day: número del día del año
* week: día de la semana como cadena de carácteres
* temp_2: temperatura máxima 2 días antes
* temp_1: temperatura máxima 1 día antes
* average: temperatura máxima media histórica
* actual: temperatura máxima medida
* friend: la predicción de su amigo, un número aleatorio entre 20 por debajo de la media y 20 por encima de la media

### 1. Importa el csv "temps.csv"

In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('/Users/miguelopez/Desktop/Machine Learning/1-Supervised/3-RegorClass/5-Decision_Trees/ejercicio/data/temps.csv')
df.head()

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [27]:

print("Shape:", df.shape)

Shape: (348, 12)

In [28]:
# null values in the df
pd.isnull(df).sum()

year              0
month             0
day               0
week              0
temp_2            0
temp_1            0
average           0
actual            0
forecast_noaa     0
forecast_acc      0
forecast_under    0
friend            0
dtype: int64

In [29]:
df.describe()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103,57.238506,62.373563,59.772989,60.034483
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146,10.605746,10.549381,10.705256,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,41.000000,46.000000,44.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,48.000000,53.000000,50.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,56.000000,61.000000,58.000000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,66.000000,72.000000,69.000000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000,77.000000,82.000000,79.000000,95.000000

### 2. Lidia con las variables categóricas del dataset

* pd.get_dummy(df) produces as output a new dataframe that has additional columns representing dummy variables for each of the categorical columns in the original df.

* Specifically, for each categorical column, it creates new columns indicating the presence of each possible category value using 1s and 0s. The original categorical column is also dropped.

In [30]:
'''Get dummy variables for the dataframe df'''

df=pd.get_dummies(df) 
df.head()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,45,43,50,44,29,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,44,41,50,44,61,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,41,43,46,47,56,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,40,44,48,46,53,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,44,46,46,46,41,0,0,0,0,0,1,0

In [38]:
# new shape after encoding 
print("Encoding shape:",df.shape, " / target: ['actual']")

Encoding shape: (348, 18)  / target: ['actual']

### 3. Divide en train y test

In [41]:
#  splitting data into train and test set

from sklearn.model_selection import train_test_split   
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [58]:
# check shapes

'''Training features number of columns =
  testing feature number of columns.
   number of rows = training and testing 
   features and the labels ''' 

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((261,), (87,), (261, 17), (87, 17))

### 4. Entrena el modelo

In [51]:
# import decission tree classifier
from sklearn.tree import DecisionTreeRegressor

In [57]:
dtr = DecisionTreeRegressor()

dtr.fit(X_train, y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[71. 59. 76. 57. 54. 54. 52. 82. 35. 41. 48. 80. 68. 39. 85. 79. 52. 76.
 53. 41. 48. 61. 77. 68. 46. 43. 71. 62. 67. 74. 57. 52. 59. 54. 47. 55.
 66. 54. 40. 45. 67. 70. 45. 65. 67. 57. 61. 72. 76. 55. 67. 73. 57. 54.
 75. 66. 65. 60. 59. 58. 52. 51. 51. 64. 68. 55. 62. 44. 63. 64. 40. 68.
 71. 76. 65. 71. 57. 35. 75. 71. 75. 77. 57. 49. 90. 68. 59. 87. 68. 68.
 40. 46. 64. 52. 71. 79. 68. 86. 72. 41. 64. 58. 67. 74. 59. 73. 55. 75.
 63. 58. 48. 51. 65. 81. 80. 73. 60. 76. 69. 56. 46. 55. 57. 64. 74. 49.
 65. 55. 53. 52. 75. 66. 68. 65. 83. 60. 76. 62. 73. 79. 77. 55. 63. 60.
 85. 63. 57. 42. 66. 65. 44. 45. 53. 59. 52. 59. 79. 77. 55. 72. 80. 68.
 68. 58. 49. 72. 64. 71. 67. 51. 51. 71. 52. 56. 61. 68. 63. 60. 63. 59.
 60. 64. 81. 50. 54. 48. 67. 56. 49. 60. 72. 50. 77. 88. 75. 46. 76. 40.
 50. 60. 75. 66. 55. 73. 77. 61. 89. 61. 44. 51. 54. 83. 49. 64. 60. 59.
 68. 71. 49. 71. 60. 65. 42. 71. 55. 39. 68. 60. 51. 78. 74. 57. 71. 73.
 55. 53. 74. 77. 57. 48. 70. 62. 75. 63. 63. 54. 75. 82. 80. 60. 73. 39.
 79. 60. 40. 52. 74. 51. 81. 60. 60.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

### 5. Evaluación de tu modelo
Calcula el coeficiente de determinación. 

Calcula el MAE, MAPE, MSE y RMSE.

### 6. Representa el árbol de decision

### 7. Modifica el max_depth a 3 y vuelve a entrenarlo

### 8. Vuelve a evaluar tu modelo

### 9. Vuelve a representar su árbol

### 10. Utiliza un grid search con cross validation.

### 11. Obten el `feature_importances` de cada variable en el último modelo

### 12. Construye un nuevo modelo `DecisionTreeClassifier` que te clasifique cuando en un día va a hacer una temperatura mayor a 15ºC. ¡Deberá tratarse como un problema de **clasificación**! Utiliza un grid search con cross validation y evalúa el mejor modelo.

### 13. Construye un nuevo modelo `RandomForestClassifier` que te clasifique cuando en un día va a hacer una temperatura mayor a 15ºC. ¡Deberá tratarse como un problema de **clasificación**! Utiliza un grid search con cross validation y evalúa el mejor modelo.